<!--
  Generated template for the ItemDisplayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> {{item.description}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <button ion-button outline full large>
          {{item.description}}
        </button>
      </ion-item>
      <img [src]="displayImage" *ngIf="displayImage" />
      <div #map id="map"> </div>
    </ion-card-header>

      <ion-list>

        <ion-item icon-start>
          <ion-icon color="primary" name="color-palette" item-start></ion-icon>
          <div item-left>Color: </div>
          <div item-end>{{item.color}}</div>
        </ion-item>

        <ion-item icon-start>
          <ion-icon color="primary" name="pricetag" item-start></ion-icon>
          <div item-left>Cost: </div>
          <div item-end>{{item.cost | currency:'USD':true}}</div>
        </ion-item>

        <ion-item icon-start>
            <ion-icon color="primary" name="information-circle" item-start></ion-icon>
              <div item-left>Type: </div>
              <div item-end>{{item.type}}</div>
        </ion-item>

        <ion-item icon-start>
            <ion-icon color="primary" name="albums" item-start></ion-icon>
             <div item-left>Room: </div>
             <div item-end>{{room.name}} #{{room.number}}</div>
        </ion-item>

        <ion-item icon-start>
          <ion-icon color="primary" name="calendar" item-start></ion-icon>
            <div item-left>Created:</div>
            <div item-end> {{item.created | date}}</div>
        </ion-item>

        <ion-item icon-start>
          <ion-icon color="primary" name="calendar" item-start></ion-icon>
            <div item-left>Added to Room:</div>
            <div item-end> {{item.addedToRoom | date}}</div>

        </ion-item>

        <ion-item icon-start>
          <ion-icon color="primary" name="calendar" item-start></ion-icon>
           <div item-left>Last Updated:</div>
           <div item-end> {{item.lastUpdated  | date}}</div>
        </ion-item>

        <ion-item icon-start>
            <ion-icon color="primary" name="calendar" item-start></ion-icon>
             <div item-left>Last Audited:</div>
             <div item-end> {{item.lastAudit  | date}}</div>
          </ion-item>

        <ion-item *ngIf="item.paid">
          <ion-icon color="primary" name="checkbox-outline" item-start></ion-icon>
            <div item-left>Paid: </div>
            <div item-end>Yes</div>
        </ion-item>

        <ion-item *ngIf="!item.paid">
            <ion-icon color="primary" name="square-outline" item-start></ion-icon>
              <div item-left>Paid:</div>
              <div item-end> No</div>
          </ion-item>

          <ion-item>
              <ion-icon color="primary" name="barcode" item-start></ion-icon>
              <div item-left>Code:  </div>
              <div item-end>{{item.specialCode}}</div>
          </ion-item>

          <ion-item>
              <button *ngIf="showCode" full ion-button outline small (click)="showCodeClick()">
                  Hide QR/Barcode
              </button>
              <button *ngIf="!showCode" full ion-button outline small (click)="showCodeClick()">
                  Show QR/Barcode
              </button>
              <ion-card *ngIf="showCode">
                      <ngx-qrcode [qrc-value]="item.specialCode"></ngx-qrcode>
                      <ion-card-content>
                        <p>Value: {{ item.specialCode }}</p>
                      </ion-card-content>
              </ion-card>
        </ion-item>
        <ion-item>
            <button ion-button outline (click)="getPosition()" full small icon-start>
                    Location
              </button>
        </ion-item>
        <ion-item>
            <button ion-button icon-start item-right full (click)="updateClicked()">
                <ion-icon color="light"  name="edit" style="margin-right:10px"></ion-icon>
                Edit
            </button>
          </ion-item>
      </ion-list>

      <ion-item-divider>
        Extra Details
      </ion-item-divider>
      <ion-list>
        <ion-item *ngFor="let itemDetail of itemDetails" >
            <div>
                <ion-icon color="primary" name="list-box" item-start></ion-icon>
                <div item-left>Type:</div>
                <div item-end>{{itemDetail.type}}</div>
            </div>
            <div>
                <ion-icon color="primary" name="list-box" item-start></ion-icon>
                <div item-left>Info:</div>
                <div item-end>{{itemDetail.info}}</div>
            </div>
            <button ion-button icon-start item-right (click)="removeDetail(detail)">
                <ion-icon color="light"  name="minus" style="margin-right:10px"></ion-icon>
                Remove
            </button>
        </ion-item>
      </ion-list>

      <ion-item-divider>
          Item History
      </ion-item-divider>

      <ion-list>
          <ion-item *ngFor="let itemHistory of itemHistories" >
              <div>
                  <ion-icon color="primary" name="list-box" item-start></ion-icon>
                  <div item-left>Date:</div>
                  <div item-end>{{itemHistory.date}}</div>
              </div>
              <div>
                  <ion-icon color="primary" name="list-box" item-start></ion-icon>
                  <div item-left>Action:</div>
                  <div item-end>{{itemHistory.action}}</div>
              </div>
              <div>
                  <ion-icon color="primary" name="list-box" item-start></ion-icon>
                  <div item-left> User: </div>
                  <div item-end>N/A (working)</div>
              </div>
          </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
