<!-- Generated template for the RoomDisplayComponent component -->
  <ion-card>
      <ion-card-header color="primary">  
          <ion-icon name="list" color="primary" style="margin-right:10px"></ion-icon>
        Details:
      </ion-card-header>
      <ion-list>
          <ion-item full small>
                  <div item->Name:</div>
                  <div item-end>{{room.name}}</div>
          </ion-item>
          <ion-item full small>
                  <div item->Number:</div>
                  <div item-end>{{room.number}}</div>
          </ion-item>
            <ion-item>
                  <div item->Items: </div>
                  <div item-end>{{total}}</div>
          </ion-item>
          <ion-item>
                  <div item->Building:</div>
                  <div item-end>{{building.name}}</div>
          </ion-item>
          <ion-item>
                <div item-start>Location:</div>
                <div item-end>Coming Soon!</div>
          </ion-item>
        </ion-list>
        <ion-item>
            <button ion-button outline (click)="updateClicked()" full small icon-start>
                  Edit Details
            </button>
        </ion-item>
  </ion-card>

