<!--
  Generated template for the ItemCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>      
      <ion-card-header color="primary">
        ITEM DETAILS
      </ion-card-header>  
    <ion-list>
        <ion-item icon-start>
          <ion-icon color="primary" name="list" item-start></ion-icon>
          <ion-label color="primary" stacked>Description</ion-label>
          <ion-input [(ngModel)]="item.description" placeholder="Example: 20** Laptop"></ion-input>
        </ion-item>

        <!-- <ion-item icon-start>
            <ion-icon color="primary" name="home" item-start></ion-icon>
            <ion-label color="primary" stacked>Building</ion-label>
            <ion-select [selectOptions]='selectBuildingOptions' cancelText="Close" okText="Ok" [(ngModel)]="building" placeholder="Select Building">
                <ion-option  *ngFor="let building of buildings" [value]="building" ><ion-item></ion-item>{{building.name}}: {{building.number}}</ion-option>
            </ion-select>
        </ion-item> -->

        <ion-item icon-start>
            <ion-icon color="primary" name="albums" item-start></ion-icon>
            <ion-label color="primary" stacked>Room</ion-label>
            <ion-select [selectOptions]='selectRoomOptions' cancelText="Close" okText="Ok" [(ngModel)]="item.room" placeholder="Select Room">
                <ion-option *ngFor="let room of rooms" [value]="room">{{room.name}}: {{room.number}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item icon-start>
            <ion-icon color="primary" name="barcode" item-start></ion-icon>
            <ion-label color="primary" stacked>Code</ion-label>
            <ion-input [(ngModel)]="item.specialCode" placeholder="Example: 999LXY"></ion-input>
            <button item-right ion-button outline small (click)="scanCode()" icon-start>
                    <ion-icon color="primary" name="qr-scanner" item-start></ion-icon>                  
                        scan
            </button>
        </ion-item>

        <ion-item icon-start>
            <ion-icon color="primary" name="pricetag" item-start></ion-icon>
            <ion-label color="primary" stacked>Price</ion-label>
            <ion-input [(ngModel)]="item.price" placeholder="Example: 787.50"></ion-input>
        </ion-item>

        <ion-item icon-start>
            <ion-icon color="primary" name="color-palette" item-start></ion-icon>                        
            <ion-label color="primary" stacked>Color</ion-label>
            <ion-input [(ngModel)]="item.cost" placeholder="Example: black"></ion-input>
        </ion-item>

        <ion-item icon-start>
            <ion-icon color="primary" name="paper" item-start></ion-icon>            
            <ion-label color="primary" stacked>Type</ion-label>
            <ion-input [(ngModel)]="item.type" placeholder="Example: Electronic"></ion-input>
        </ion-item>
        <ion-item>
            <button ion-button outline small (click)="captureImage()" icon-start>
                    <ion-icon color="primary" name="camera" item-start></ion-icon>                  
                        Image
            </button>
          </ion-item>
        <ion-item-divider>
          Extra Details
        </ion-item-divider>
        <ion-item icon-start>
            <ion-icon color="primary" name="list-box" item-start></ion-icon>            
            <ion-label color="primary" stacked>Detail Type</ion-label>
            <ion-input [(ngModel)]="itemDetail.type" placeholder="example: placement"></ion-input>
          </ion-item>
          <ion-item icon-start>
              <ion-icon color="primary" name="list-box" item-start></ion-icon>            
              <ion-label color="primary" stacked>Detail Info</ion-label>
              <ion-input [(ngModel)]="itemDetail.info" placeholder="example: in the corner"></ion-input>            
           </ion-item>
           <ion-item icon-start>
                <button ion-button outline item-left small (click)="onAddDetail()" icon-start>
                        <ion-icon color="primary" name="add" item-start></ion-icon>                                          
                    detail
              </button>
            </ion-item>
          <ion-item>
              <button ion-button icon-start item-right full icon-start (click)="onCreate(item)">
                  <ion-icon color="light" name="plus"></ion-icon>                  
                    Create 
              </button>
            </ion-item>
      </ion-list>
    </ion-card>
</ion-content>
