<!--
  Generated template for the ItemCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>{{title}}</ion-title>
    </ion-navbar>

  </ion-header>


  <ion-content padding>
      <ion-card>
        <ion-card-header color="primary">
        <ion-item>
                <button ion-button outline full large>
                    Edit
                </button>
        </ion-item>
          <img [src]="base64data" *ngIf="base64data" />
        </ion-card-header>
      <ion-list>
          <ion-item icon-start>
            <ion-icon color="primary" name="list" item-start></ion-icon>
            <ion-label color="primary" stacked>Description</ion-label>
            <ion-input  [(ngModel)]="item.description"></ion-input>
          </ion-item>

          <ion-item icon-start>
              <ion-icon color="primary" name="albums" item-start></ion-icon>
              <ion-label color="primary" stacked>Room</ion-label>
              <ion-select [selectOptions]='selectRoomOptions' cancelText="Close" okText="Ok" [(ngModel)]="room" placeholder="{{room.name}}: {{room.number}}">
              <ion-option *ngFor="let room of rooms" [value]="room">{{room.name}}: {{room.number}}</ion-option>
              </ion-select>
          </ion-item>

        <ion-item icon-start>
            <ion-icon color="primary" name="barcode" item-start></ion-icon>
            <!--<ion-label color="primary" stacked>Code</ion-label> -->
            <div> Code: {{item.specialCode}} </div>
        </ion-item>

        <ion-item>
                <button *ngIf="mobileFlag" full ion-button outline small (click)="scanCode()">
                        Scan QR/Barcode
                </button>
                <button *ngIf="showCode" full ion-button outline small (click)="showCodeClick()">
                    Hide QR/Barcode
                </button>
                <button *ngIf="!showCode" full ion-button outline small (click)="showCodeClick()">
                    Show QR/Barcode
                </button>
        </ion-item>

        <ion-card *ngIf="showCode">
                <ngx-qrcode [qrc-value]="item.specialCode"></ngx-qrcode>
                <ion-card-content>
                  <p>Value: {{ item.specialCode }}</p>
                </ion-card-content>
        </ion-card>

          <ion-item icon-start>
              <ion-icon color="primary" name="pricetag" item-start></ion-icon>
              <ion-label color="primary" stacked>Price</ion-label>
              <ion-input type="number" [(ngModel)]="item.cost"></ion-input>
          </ion-item>

          <ion-item icon-start>
              <ion-icon color="primary" name="color-palette" item-start></ion-icon>
              <ion-label color="primary" stacked>Color</ion-label>
              <ion-input [(ngModel)]="item.color" ></ion-input>
          </ion-item>

          <ion-item icon-start>
              <ion-icon color="primary" name="paper" item-start></ion-icon>
              <ion-label color="primary" stacked>Type</ion-label>
              <ion-input [(ngModel)]="item.type" placeholder="Example: Electronic"></ion-input>
          </ion-item>

          <ion-item *ngIf="mobileFlag">
              <button ion-button full outline small (click)="captureImage()" icon-start>
                      <ion-icon color="primary" name="camera" item-start></ion-icon>
                         Capture Image
              </button>
            </ion-item>

            <ion-item-divider>
                Extra Details
              </ion-item-divider>
              <ion-list>
                <ion-item *ngFor="let itemDetail of itemDetails" >
                    <div>
                        <ion-icon color="primary" name="list-box" item-start></ion-icon>
                        Type: {{itemDetail.type}}
                    </div>
                    <div>
                        <ion-icon color="primary" name="list-box" item-start></ion-icon>
                        Info: {{itemDetail.info}}
                    </div>
                    <button ion-button icon-start item-right (click)="removeDetail(detail)">
                        <ion-icon color="light"  name="remove" style="margin-right:10px"></ion-icon>
                        Remove
                    </button>
                </ion-item>
              </ion-list>
          <ion-item icon-start>
              <ion-icon color="primary" name="list-box" item-start></ion-icon>
              <ion-label color="primary" stacked>Detail Type</ion-label>
              <ion-input [(ngModel)]="itemDetail.type" placeholder="example: placement"></ion-input>
            </ion-item>
            <ion-item icon-start>
                <ion-icon color="primary" name="list-box" item-start></ion-icon>
                <ion-label color="primary" stacked>Detail Info</ion-label>
                <ion-input [(ngModel)]="itemDetail.info" placeholder="example: in the corner"></ion-input>
             </ion-item>
             <ion-item icon-start>
                  <button ion-button outline full small (click)="onAddDetail()" icon-start>
                          <ion-icon color="primary" name="add" item-start></ion-icon>
                       Add Detail
                </button>
              </ion-item>
            <ion-item>
                <button ion-button icon-start full icon-start (click)="onUpdate()">
                    <ion-icon color="light" name="plus"></ion-icon>
                      Update
                </button>
              </ion-item>
        </ion-list>
      </ion-card>
  </ion-content>
