<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >P.A.M</ion-title>    
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
      <ion-card-header>
          Progressive Asset Management
      </ion-card-header>
      <ion-card-content>
          <button ion-button *ngIf="mobileFlag" (click)="scanCode()" full >
              <ion-icon name="qr-scanner" style="margin-right:10px"></ion-icon>
              Scanner
            </button> 
            <div *ngIf="!mobileFlag">
              To get the full functionallity, please use our Mobile App. 
            </div>
      </ion-card-content>
    </ion-card>
  </ion-content> 

